android/*
third_party/d8*
third_party/icu*
third_party/libdex*
third_party/aosp_10.0.0_r35*
third_party/aosp_modified*
third_party/ctorture*
third_party/llvm_modified*
tools/bin*
tools/android*
tools/aosp*
tools/clang*
tools/gcc*
tools/gn*
tools/icu*
tools/libz*
tools/zlib*
tools/ninja*
tools/qemu*
tools/r8*
tools/release*
tools/sysroot-glibc*
build/logs*
libjava-core
output
compile_commands.json
testsuite/tools*
*__pycache__*
